header {
  height: 150px;
  position: relative;
    .overlay {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      height: 100%;
      right: 0;
      bottom: 0;
      background-color: rgba(10,10,10,0.3);
    }
    h1 {
      font-size: 35px;
    }
    nav {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 30px 60px 0 60px;
        li {
          list-style: none;
          display: inline-block;
          padding-right: 10px;
          padding-left: 10px;
            a {
              padding: 5px;
              background-color: #fff;
              text-decoration: none;
            }
        }
        span {
          padding-left: 5px;
        }
    }
}

main h2 {
  text-align: center;
}

.cart a {
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.bloc-product {
  text-align: center;
}

.list-product {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 30px;
}

.list-product_block {
  display: flex;
  align-items: center;
}

.list-product__block--left img {
  width: 50%; 
  text-align: center;
}

#productImg {
  width: 20%;
}

.flex-block {
  display: flex;
  padding: 1rem;
  align-items: center;
}

#cart-summary {
  display: flex;
  margin: auto;
}

#resume-cart {
  text-align: center;
}

table {
  margin: auto;
  border: none;
  letter-spacing: 1px;
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  border: 1px solid black;
  padding: 12px 22px;
}

th {
  background-color: greenyellow;
}

td {
  text-align: center;
}

.form {
  width: 600px;
  margin-right: 140px;
  margin-top: 150px;
    .form__group {
      display: flex;
    }
    .form__group label {
      flex: none;
      display: block;
      width: 130px;
      font-weight: bold;
      font-size: 1em;
    }
    .form__group .input-control {
      flex: 1 1 auto;
      display: block;
      margin-bottom: 10px;
      margin-right: 8px;
      padding: 4px;
    }
}
